body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.bar {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 100%;
    height: 5.5em;
    margin-bottom: 10em;
}

.logo {
    margin-top: 0.2em;
}

.navbar {
    font-size: 17px;
}

#home {
    background: url('https://i.ibb.co/fFwF9zD/jdg-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position-y: 3em;
    background-position-x: center;
    width: 100%;
}

.texto-cero {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-shadow: 2px 0 0 black, 0 0 2px black;
    color: #ffffff;
    font-size: 2em;
    line-height: 1em;
    padding-top: 21em;
    margin-bottom: 0.8em;
}

.texto-uno {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 0;
}

.texto-uno b {
    border-bottom: 8px solid #ffc72c;
}

.flecha {
    color: #ffffff;
    padding-top: 0;
    padding-bottom: 1em;
}

.triangle {
    position: absolute;
    left: 0em;
    top: 10rem;
    width: 0;
    height: 0;
    border-bottom: 120em solid #ffc72c;
    border-right: 1440px solid transparent;
    z-index: -1;
    margin: 0;
}

@media handheld, only screen and (max-width: 767px) {
    .triangle {
    display:none;
    }
}

@media only screen and (max-width: 1023px) {
    .triangle {
    display:none;
    }
}

#experiencia {
    padding-top: 6em;
    border-color: #ffffff;
    padding-bottom: 2em;
}

.card {
    background-color: none;
    border: none;
}

.about {
    max-width: 90%;
}

.about .card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 2.8em;
    margin-top: 1em;
    max-width: 90%;
}

.about .card-title b {
    border-bottom: 8px solid #ffffff;
}

.about .card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 1.3em;
    line-height: 1.7em;
    margin-top: 1em;
    max-width: 90%;
}

.foto .img-fluid {
    margin-top: 9em;
    max-width: 70%;
    height: auto;
}

#consultoria {
    margin-top: 4em;
    padding-top: 6em;
    padding-bottom: 15em;
    margin-bottom: 0;
    background-color: #000000;
}

.que-hago .card-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 2.7em;
    line-height: 1.3em;
    margin-bottom: 1em;
    margin-top: 2em;
    max-width: 80%;
}

.texto-cuatro {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 1.8em;
    line-height: 1em;
    padding: 0;
    margin-bottom: 0;
    margin-top: 3em;
}

.triangle-dos {
    position: absolute;
    left: -15em;
    top: 240em;
    height: 0; 
    border-top: 1400px solid #ffc72c;
    border-left: 1680px solid transparent;
    z-index: -1;
    margin: 0;
}

@media handheld, only screen and (max-width: 767px) {
    .triangle-dos {
    display:none;
    }
}

@media only screen and (max-width: 1023px) {
    .triangle-dos {
    display:none;
    }
}

.badges {
    margin-top: 2em;
}

.badge {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 1.4em;
    padding: 0.7em;
    margin-top: 2em;
    background-color: #ffc72c;
    width: 80%;
}

.foto-tres .img-fluid {
    margin-top: 3em;
    max-width: 90%;
    height: auto;
}

.foto-cuatro .img-fluid {
    margin-top: 2em;
    height: auto;
}

#consultoria .card-text {
    color: #ffffff;
    margin-right: 3em;
}

#clientes {
    padding: 3em;
    margin-bottom: 3em;
}

.foto-dos {
    max-width: 60%;
    margin-top: 2em;
}

.texto-dos {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 55px;
    line-height: 55px;
    margin-top: 2em;
}

.texto-dos b {
    border-bottom: 8px solid #ffffff;
}

.texto-cinco {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.4em;
    line-height: 1.7em;
    margin-bottom: 0;
    max-width: 80%;
    padding-top: 1.5em;
}

.texto-tres {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 2rem;
    line-height: 2rem;
    margin: 1.5em;
}

#contact {
    margin-top: 10em;
    margin-bottom: 10em;
}

.contacto {
    padding-left: 8em;
    padding-right: 8em;
}

.texto-seis {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 1.3em;
    line-height: 1.4em;
}

.texto-seis span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffc72c;
    font-size: 1em;
    line-height: 1em;
}

.texto-siete {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1.3em;
    line-height: 1.4em;
}

.texto-ocho {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1em;
    line-height: 1.1em;
}

.info {
    padding-bottom: 3em;
    padding-top: 3em;
}

.formulario {
    padding-top: 3em;
    padding-top: 3em;
}

.formulario label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #000000;
    font-size: 1.5rem;
    line-height: 2rem;
}

.formulario input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: #d1d0d0;
    color: #000000;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: none; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc
  input[type=submit] {
    background-color: #ffc72c;
    color: #000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color
  input[type=submit]:hover {
    background-color: #000;
    color: #ffffff;
  }
*/

footer {
    background: #000000;
    padding:30px 0 30px 0;
    color: #ffffff;
    text-align: center;
    border-top: 5px #ffc72c;
    margin-top: 0;
}

.fa-instagram {
    margin: 0.3em;
}

.fa-facebook-square {
    margin: 0.3em;
}